<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992560881942-g4uq1n7buft05n18bj7e33oj6a9ha4i9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992560881942-g4uq1n7buft05n18bj7e33oj6a9ha4i9</string>
	<key>API_KEY</key>
	<string>AIzaSyCMO7j_v6jI_i9XFxEqLMbSUePvkkpddqo</string>
	<key>GCM_SENDER_ID</key>
	<string>992560881942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.digitallifestream.salonreact</string>
	<key>PROJECT_ID</key>
	<string>salonreactnative</string>
	<key>STORAGE_BUCKET</key>
	<string>salonreactnative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992560881942:ios:da5d0b5ef0fdf3dd933037</string>
</dict>
</plist>